
.main-bg{
    background-image: url(../../../public/hero-background1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    text-align: left;
    color: #fff;

}
.hero-content{
    max-width: 600px;
    padding: 20px;
    margin-left: 4%;

}
.hero-content h1{
    font-size: 48px;
    margin-top: 20%;
    margin-bottom: 20px;
}
.hero-content p {
    font-size: 24px;
    margin-bottom: 30px;
  }